*{
    padding: 0px;
    margin: 0px;
}

$color-primario: rgb(112,0,0);
$color-secundario: rgb(235, 235, 235);
@mixin textos($color, $size, $weight) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
}

main{
    padding-top: 13rem;
    padding-bottom: 13rem;
}

.formulario-contacto{
    fieldset{
        padding: 0.5rem;
        padding-bottom: 1rem;
        border: 2px solid $color-primario;
        border-radius: 0.4rem;

    }
    legend{
        @include textos($color-primario, 1.5rem, 600);
        padding-top: 0.5rem;
    }
    label{
        width: 8rem;
        @include textos($color-primario, 0.9rem, 400);
    }
    input{
        color: $color-primario;
        border: 2px solid;
        border-color: $color-primario;
        border-radius: 0.4rem;
        padding:0.2rem;
        background: transparent;
        width: 8rem;
        margin: 0.2rem;
        font-size: 0.6rem;
    }
    .escriba-aqui{
        width: 11rem;
    }
    .text-area{
        width: 17rem;
    }
    .boton{
        width: 6rem;
        font-size: 0.6rem;
    }
}

@media screen and(min-width: 768px){
    main{
        padding: 10rem;
    }
    .formulario-contacto{
        legend{
            @include textos($color-primario, 3rem, 600);
        }
        label{
            width: 21rem;
            @include textos($color-primario, 1.7rem, 600);
        }
        input{
            margin: 0.4rem;
            width: 23rem;
            font-size: 1.6rem;
        }
        .escriba-aqui{
            width: 22rem;
        }
        .text-area{
            height: 10rem;
            width: 44.5rem;
        }
        .boton{
            width: 21.5rem;
            font-size: 2rem;
            font-weight: 600;
        }
    }
}